<div>
  <% @posts.each do |post| %>
    <% post.comments.each do |comment| %>
      <br>
      <%= comment.user.first_name %>
      <%= comment.user.last_name %>
      <br>
      <%= comment.body %>
    <%end%>
  <%end%>
</div>