<%= render "home/navbar" %>

<section class="section">
  <div class="container is-max-desktop">
    <%= turbo_frame_tag id="new_post", src:new_post_path %>
  </div>
  <div class="container is-max-desktop mt-4">
    <h1 class="title">Timeline</h1>
    <div id="posts">
      <%= render @posts %>
    </div>
  </div>
</section>
